<div id="nodes-controler" class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <h6 class="sub-title">Configuration</h6>
        </div>

        <form class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Editing</legend>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="edit_mode" name="edit_options" [(ngModel)]="editModeStatus" (change)="setEditModel($event)">
                                <label class="form-check-label" for="edit_mode">Edit mode</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Transport modes</legend>
                        <div class="col-sm-8">
                            <div class="form-check" *ngFor="let mode of TransportModes">
                                <input class="form-check-input" type="radio" id="mode.value" name="mode_options" [(ngModel)]="transportModeSelected" [value]="mode.value" (change)="setTransportMode(mode.value)">
                                <label class="form-check-label" for="mode">{{mode.title}}</label><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Option</legend>
                        <div class="col-sm-8">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="elevation_mode" name="elevation_options" [(ngModel)]="elevationModeStatus" (change)="setElevationStatus($event)"> 
                                <label class="form-check-label" for="elevation_mode">Elevation output</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <input
                        class="form-control btn btn-primary"
                        type="submit"
                        value="Submit"
                        (click)="computePath()"
                    >
                </div>
            </div>


        </form>

    </div>
</div>