<div class="nodes-results" [id]="'nodes-controler-' + pathData.id" [hidden]="pathData.getNodes().length === 0">
  <div class="col-lg-12">
      <h6 class="sub-title">Nodes created</h6>
  </div>

  <div class="col-lg-12">
  <ol class="path-coords-list">

    <li *ngFor="let node of pathData.getNodes()">

      <span class="node-name">{{node.properties.name}} </span>

      <ng-template #popContent>Coordinates: {{node.geometry.coordinates}}</ng-template>
      <button
        type="button"
        class="btn btn-info mx-1 my-1"
        [ngbPopover]="popContent"
        popoverTitle="Details"
        placement="right"
      >
        <i class="fas fa-info-circle"></i>
      </button>

      <button
        type="button"
        class="up form-control btn btn-danger mx-1 my-1"
        (click)="upPosition(node.properties.position)"
        [disabled]="node.properties.position - 1 !== -1 ? null : 'disabled'"
      >
        <i class="fas fa-angle-up"></i>
      </button>

      <button
        type="button"
        class="down form-control btn btn-danger mx-1 my-1"
        (click)="botPosition(node.properties.position)"
        [disabled]="node.properties.position + 1 !== pathData.getNodes().length ? null : 'disabled'"

      >
        <i class="fas fa-angle-down"></i>
      </button>

      <button
        type="button"
        class="remove form-control btn btn-danger mx-1 my-1"
        (click)="removeNode(node.properties.uuid)"
      >
        <i class="far fa-trash-alt"></i>
      </button>

    </li>
  </ol>

</div>


