<div id="paths-controler" class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <h3 class="sub-title">2. Computed</h3>
            </div>
            <span>Api Status: {{apiStatus}}</span>
            <div class="col-md-12">
                <p>
                    <button id="btn-add-tab" type="button" class="btn btn-primary pull-right" (click)="addPath()">Add Path</button>
                </p>

                <div [hidden]="!isPathFound">
                    <!-- Nav tabs -->
                    <div id="tab-list" class="nav nav-tabs" role="tablist">
                        <a [ngClass]="{ 'active':currentTabId===path.id}" class="nav-item nav-link" id="{{ 'nav-' + path.id }}" *ngFor="let path of PathFeatures; let i = index" href="{{ '#' + path.id }}" (click)="switchTab(path.id)" role="tab" data-toggle="tab" aria-controls="tab" aria-selected="true">{{path.name}}
                        </a>
                    </div>

                    <!-- Tab panes -->
                    <div id="tab-content" class="tab-content">
                        <div [ngClass]="{ 'show active':currentTabId===path.id}" class="tab-pane fade in" id="{{ path.id }}" *ngFor="let path of PathFeatures; let i = index">

                            <app-inputparameters
                                (pathEmitToDelete)="deletePath($event)"
                                (pathEmitToDuplicate)="duplicatePath($event)"
                                [pathData]="path"
                                [isCurrentTab]="currentTabId === path.id"
                            ></app-inputparameters>

                            <app-nodescontrolers
                                [pathData]="path"
                                [isCurrentTab]="currentTabId === path.id"
                            ></app-nodescontrolers>

                            <app-nodesstatistics
                                [pathData]="path"
                            ></app-nodesstatistics>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

