.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 -0.5rem 1rem rgba(0,0,0,.15)!important;
}

.dependency {
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.text-detail {
  font-size: 13px;
}

a {
  color: unset
}
