<div id="area-view-controler" class="container-fluid">
  <div class="row mb-4">

    <div class="col-sm-12 topic">
        <h4 class="sub-title">Zoom To Area
          <ng-template #popContent>{{helpPopup}}</ng-template>
          <span class="text-info" [ngbPopover]="popContent" popoverTitle="Help!"  placement="right"><i class="far fa-question-circle"></i></span>
        </h4>
    </div>

    <div class="col-sm-12 my-2 subtopic">

      <div class="form-inline">
        <div class="form-group">

          <input
            class="form-control mx-2 my-2"
            id="study_area_input"
            type="text"
            [(ngModel)]="StudyAreaValue"
            name="StudyAreaValue"
            placeholder="Study area name"
            required
          >

          <input
            class="form-control btn btn-success fas mx-2 my-2"
            type="button"
            value="&#xf689;"
            (click)="computeView()"
          >

          <small class="mx-2 my-2 text-danger" *ngIf="errorDisplayed" role="alert">
            {{resultMessage}}
          </small>

        </div>
      </div>

    </div>

  </div>
</div>
