<div id="view-controler" class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <h3 class="sub-title">Zoom To Area</h3>

        </div>

        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <label for="study_area_input" class="col-form-label">Study area
              <ng-template #popContent>{{helpPopup}}</ng-template>
              <span type="button" class="badge badge-danger" [ngbPopover]="popContent" popoverTitle="Help!"  placement="right">?</span>
            </label>
            <input
              class="form-control mx-sm-3"
              id="study_area_input"
              type="text"
              [(ngModel)]="StudyAreaValue"
              name="StudyAreaValue"
              required
            >
            <div *ngIf="HideError" role="alert">
                <small>{{ErrorMessage}}</small>
            </div>
          </div>

          <input
            class="form-control btn btn-primary"
            type="button"
            value="Submit"
            (click)="computeView()"
          >
        </form>


    </div>
</div>
