  <app-header [NavBarTitle]="AppTitle"></app-header>

  <div id="content" class="container-fluid">
    <div class="row">
      <div id="mapContainer" class="col-lg-8">
        <app-map></app-map>

      </div>

      <div id="controlerContainer" class="col-lg-4 y-scroll">

        <div id="view-controler" class="tool mb-3">
          <app-viewcontroler></app-viewcontroler>
        </div>

        <div id="nodes-computed" class="tool mb-3">
          <app-pathshandler></app-pathshandler>
        </div>

      </div>



    </div>
  </div>

  <app-footer></app-footer>




<router-outlet></router-outlet>
