  <app-header [NavBarTitle]="AppTitle"></app-header>

  <div class="container-fluid">
      <div class="row">

          <div id="mapContainer" class="col-md-8">
              <app-map></app-map>

          </div>

          <div id="controlerContainer" class="col-md-4">
              <app-viewcontroler></app-viewcontroler>
              <app-nodescontroler></app-nodescontroler>
          </div>

      </div>
  </div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>