<div id="stats-results">
    <div class="col-md-12">
        <h6 class="sub-title">Statistics</h6>
    </div>
    <span>{{pathId}}</span>
    <div *ngIf="DataExists">
        <ul>
            <li>Nodes count: {{statisticsData.nodes_count}}</li>
            <li>Min. height: {{statisticsData.height_min}}</li>
            <li>Max. height: {{statisticsData.height_max}}</li>
            <li>Diff. height: {{statisticsData.height_diff}}</li>
            <li>Length: {{statisticsData.length}}</li>
        </ul>
    </div>

</div>
